@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'IBM Plex Sans Thai';
	--font-google: 'Google Sans Flex';
}

.button-nav-blank-state {
	@apply flex items-center px-2.5 py-1.5 rounded-lg hover:underline hover:decoration-2 hover:underline-offset-4 text-white duration-300;
}

.button-nav-blank-normal {
	@apply flex items-center px-2.5 py-1.5 rounded-lg hover:underline hover:decoration-2 hover:underline-offset-4 duration-300;
}
.menu-nav {
	@apply flex font-google text-3xl px-6 items-center rounded-lg hover:bg-neutral-100 border-[0.5px] border-solid border-white duration-300 w-full py-4;
}
.button-white {
	@apply flex gap-2 items-center px-3 py-1.5 rounded-full border-[0.5px] border-solid border-neutral-200 bg-neutral-50 w-fit text-black font-medium;
}
